body {
    /*background: #2a2a2a;
    color: white;*/
}

* {
    font-family: 'Open Sans', sans-serif;
}

.hide {
    display: none;
}

.row > *:not(hr):not(.hide) {
    display: inline-block;
    vertical-align: top;
}

select {
    border-radius: 5px;
    height: 26px;
    box-shadow: none;
}